<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://vndockerdavid.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/621c09c7-346c-4b05-80fa-c335e6333045/resourcegroups/CursoDocker/providers/Microsoft.ContainerRegistry/registries/AzureVnWebApi20221122194141</ContainerResourceId>
    <ContainerResourceName>AzureVnWebApi20221122194141</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>azurevnwebapi20221122194141.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/621c09c7-346c-4b05-80fa-c335e6333045/resourceGroups/CursoDocker/providers/Microsoft.Web/sites/vndockerdavid</ResourceId>
    <ResourceGroup>CursoDocker</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vndockerdavid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7d6e2831-c548-4afe-a68f-eeaf6251e962</ProjectGuid>
  </PropertyGroup>
</Project>